<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3><b><%=listing.title%></b></h3>
    </div>
    <div class="card col-6 offset-2 listing-card">
      <img
        src="<%=listing.image%>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">Owned By : <i> <%=listing.owner.username%></i></p>
        <p class="card-text"><%=listing.description%></p>
        <p class="card-text">
          &#8377;<%=listing.price.toLocaleString("en-IN")%> /night
        </p>
        <p class="card-text">
          <%=listing.location%> <br />
          <%=listing.country%><br />
        </p>
      </div>
    </div>
    <% if(currUser && currUser._id.equals(listing.owner._id)){%>
    <div class="row">
      <div class="col-3 offset-2 me-3">
        <a
          href="/listings/<%=listing.id%>/edit"
          class="btn btn-dark add-btn show-btn"
          >Edit this Listing</a
        >
      </div>
      <div class="col-3">
        <form action="/listings/<%=listing.id%>?_method=DELETE" method="post">
          <button class="btn btn-dark show-btn">Delete this Listing</button>
        </form>
      </div>
    </div>
    <div class="col-6 offset-2">
      <%}%> <%if(currUser) { %>
      <hr />
      <h4>Leave a Review</h4>
      <form
        action="/listings/<%=listing.id%>/review"
        method="POST"
        class="mb-4 needs-validation"
        novalidate
      >
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            min="1"
            max="5"
            id="rating"
            name="review[rating]"
            class="form-control"
          />
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea
            class="form-control"
            name="review[comment]"
            id="comment"
            cols="30"
            rows="5"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please add some comments for review.
          </div>
          <br />
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <hr />
      <%}%> <% if(listing.reviews.length) {%>
      <h4>Reviews</h4>
      <div class="row">
        <%for(review of listing.reviews){%>
        <div class="card col-5 mb-3 ms-3">
          <div class="card-body mt-2">
            <h5 class="card-title">Lakshit Jain</h5>
            <p class="card-text"><%=review.comment%></p>
            <div class="row">
              <div class="col-6">
                <p class="card-text"><%=review.rating%> stars</p>
              </div>
              <div class="col-6">
                <form
                  action="/listings/<%=listing._id%>/review/<%=review._id%>?_method=DELETE"
                  method="POST"
                  style="text-align: right"
                >
                  <button class="btn btn-dark mb-3 btn-sm">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </div>
      <%}%>
    </div>
  </div>
</body>
